In [1]:
import pandas as pd

# crrl_data = pd.read_csv('/Users/cylis/Work/mes_summer25/CRRL mods/CRRL_mesonet_data_filled_v2.csv')
# rfsm_data = pd.read_csv('/Users/cylis/Work/mes_summer25/RFSM mods/RFSM_mesonet_data_filled.csv')

data = pd.read_csv('/Users/cylis/Work/mes_summer25/codes/feature_engineered_data/RFSM_enhanced_features_20250714_114212.csv')

data.head()

/var/folders/x3/czpqf5ks36d7yf5gcqbkp2140000gn/T/ipykernel_93214/572772129.py:6: DtypeWarning: Columns (38) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('/Users/cylis/Work/mes_summer25/codes/feature_engineered_data/RFSM_enhanced_features_20250714_114212.csv')

,UTCTimestampCollected,NetSiteAbbrev,County,TAIR,DWPT,PRCP,PRES,RELH,SRAD,WDIR,...,VT_inversion_90_20_target_6h,VT_inversion_90_20_target_12h,VT_inversion_90_05_target_1h,VT_inversion_90_05_target_3h,VT_inversion_90_05_target_6h,VT_inversion_90_05_target_12h,TAIR_target_1h,TAIR_target_3h,TAIR_target_6h,TAIR_target_12h
0,2019-12-10 08:25:00,RFSM,Breathitt,12.5592,11.6742,0.0,962.048,94.3,0.165165,228.3,...,NaN,NaN,NaN,NaN,NaN,NaN,12.4164,12.2973,12.2364,12.1574
1,2019-12-10 08:30:00,RFSM,Breathitt,12.4164,11.8031,0.0,962.208,96.0,0.000000,234.5,...,NaN,NaN,NaN,NaN,NaN,NaN,12.3232,12.3016,12.2381,12.1676
2,2019-12-10 08:35:00,RFSM,Breathitt,12.3232,11.7733,0.0,962.406,96.4,0.165164,240.9,...,NaN,NaN,NaN,NaN,NaN,NaN,12.2973,12.2978,12.2303,12.1245
3,2019-12-10 08:40:00,RFSM,Breathitt,12.2973,11.8885,0.0,962.527,97.3,0.165165,240.4,...,NaN,NaN,NaN,NaN,NaN,NaN,12.3016,12.2364,12.1833,12.1983
4,2019-12-10 08:45:00,RFSM,Breathitt,12.3016,11.9395,0.0,962.568,97.6,0.165166,230.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12.2978,12.2381,12.1208,12.2037

In [4]:
print(crrl_data.columns)
print(rfsm_data.columns)

Index(['UTCTimestampCollected', 'NetSiteAbbrev', 'County', 'TAIR', 'DWPT',
       'PRCP', 'PRES', 'RELH', 'SRAD', 'WDIR', 'WSPD', 'WDSD', 'WSSD', 'SM02',
       'SM04', 'ST02', 'ST04', 'VT05', 'VT20', 'VT90', 'VR05', 'VR20', 'VR90'],
      dtype='object')
Index(['UTCTimestampCollected', 'NetSiteAbbrev', 'County', 'TAIR', 'DWPT',
       'PRCP', 'PRES', 'RELH', 'SRAD', 'WDIR', 'WSPD', 'WDSD', 'WSSD', 'SM02',
       'SM04', 'ST02', 'ST04', 'VT05', 'VT20', 'VT90', 'VR05', 'VR20', 'VR90'],
      dtype='object')

In [3]:
import pandas as pd
import matplotlib.pyplot as plt

# Load CSV files into DataFrames
file1 = '/Users/cylis/Work/mes_summer25/CRRL mods/CRRL_mesonet_data_filled_v2.csv'
file2 = '/Users/cylis/Work/mes_summer25/original/CRRL.csv'

df1 = pd.read_csv(file1)
df2 = pd.read_csv(file2)

# Ensure both DataFrames have the same columns
common_columns = df1.columns.intersection(df2.columns)

# Loop through each common column and plot
for column in common_columns:
    if pd.api.types.is_numeric_dtype(df1[column]) and pd.api.types.is_numeric_dtype(df2[column]):
        plt.figure(figsize=(10, 5))
        plt.plot(df1[column], label=f'{file1} - {column}', color='blue')
        plt.plot(df2[column], label=f'{file2} - {column}', color='orange')
        plt.title(f'Comparison of "{column}" between the two files')
        plt.xlabel('Index')
        plt.ylabel(column)
        plt.legend()
        plt.grid(True)
        plt.tight_layout()
        plt.show()

/var/folders/x3/czpqf5ks36d7yf5gcqbkp2140000gn/T/ipykernel_26508/475456462.py:9: DtypeWarning: Columns (3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(file2)