In [8]:
import pandas as pd
import numpy as np

In [9]:
file_data ='/Volumes/Mesonet/spring_ml/output_data/prism_tmean_us_30s_20210101_CONV.csv'

station_data = pd.read_csv(file_data)

# add data for pymica
station_data['key'] = range(1, len(station_data) + 1)  # Replace with actual values if needed
# the following are populated with rand values for testing
station_data['dist'] = np.random.uniform(1, 100, len(station_data))
station_data['hr'] = np.random.randint(0, 24, len(station_data))
station_data['altitude'] = np.random.uniform(50, 500, len(station_data))


# re index this dataframe for better readability
desired_order = ['key','altitude', 'dist', 'hr', 'latitude', 'longitude', 'tmean'] + [col for col in station_data.columns if col not in ['key', 'altitude', 'dist', 'hr', 'latitude', 'longitude', 'tmean']]
station_data = station_data.reindex(columns=desired_order)

station_data.head()

   key    altitude       dist  hr  latitude  longitude     tmean   timestamp
0    1  204.696394  63.458572  21    49.425 -95.141667 -8.059400  2021-01-01
1    2  284.980509  11.522433   2    49.425 -95.133333 -8.010099  2021-01-01
2    3  102.697629  93.553599  20    49.425 -95.125000 -8.007299  2021-01-01
3    4  180.142507  97.575115   7    49.425 -95.116667 -8.008200  2021-01-01
4    5   86.521250  18.982861   6    49.425 -95.108333 -8.009200  2021-01-01

In [15]:
# data prep for pymica
data = []
for key in station_data['key'].head(10):
    df_data = station_data[station_data['key'] == key]
    #df_meta = metadata[metadata['key'] == key]
    data.append(
        {
            'id': key,
            'longitude': float(df_data['longitude'].iloc[0]),
            'latitude': float(df_data['latitude'].iloc[0]),
            'value': float(df_data['tmean'].iloc[0]), # value for 'tmean' is manually placed
            'altitude': float(df_data['altitude'].iloc[0]),
            'dist': float(df_data['dist'].iloc[0])
        }
    )

print('Sample data: ', data[0])
print('Number of points: ', len(data))

Sample data:  {'id': 1, 'longitude': -95.141666667862, 'latitude': 49.425000000020006, 'value': -8.0594, 'altitude': 204.69639361851333, 'dist': 63.45857206322449}
Number of points:  10